table{
    border-collapse: collapse;
}

table, td, th{
    border: 1px solid black;
}

td{
    padding: 10px;
}

.icono-demo{
    font-size: 20px;
    color: red;
}
.lista1{
    list-style-type: square;
}